<%- include('../partials/header') %>
<div class="text container">
  <h1 class="header">Register with YelpCamp</h1>
  <form class="form" action="/register" method="POST">
    <div class="field">
      <label for="">Username</label>
      <input type="text" name="username" />
    </div>
    <div class="field">
      <label for="">Password</label>
      <input type="password" name="password" />
    </div>

    <input class="button" type="submit" />
  </form>
</div>
<%- include('../partials/footer') %>
