<%- include('../partials/header') %>
<div class="ui text container">
  <h1 class="ui header">Add a comment to <%= camp.name %></h1>
  <form class="ui form" action="/campgrounds/<%= camp._id %>/comments" method="POST">
    <div class="field">
      <label for="">Text</label>
      <input type="text" name="comment[text]" />
    </div>

    <input class="ui button" type="submit" />
  </form>
</div>
<%- include('../partials/footer') %>
