<%- include('../partials/header') %>
<div class="text container">
  <h1 class="header">YelpCamp</h1>
  <form class="form" action="/campgrounds" method="POST">
    <label for="">Name</label>
    <input type="text" name="camp[name]" />

    <label for="">Price</label>
    <input type="number" name="camp[price]" min="0.01" step=".01" />

    <label for="">Picture URL</label>
    <input type="text" name="camp[image]" placeholder="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-juu6Bp3IIkg%2FVAiFAquwotI%2FAAAAAAAAaOo%2FMUPWGZzEDKs%2Fs1600%2FIMGP9575.JPG&f=1&nofb=1" />

    <label for="">Description</label>
    <textarea type="text" name="camp[description]"></textarea>

    <input class="button" type="submit" />
  </form>
</div>
<%- include('../partials/footer') %>
