html,
body {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: column;
}
#mainNav {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 231, 231);
  padding: 2%;
}
#navContainer {
  display: flex;
}
#navLeft {
  flex: 3;
}

#navRight {
  flex: 1;
}

.item {
  font-size: 1.5rem;
  letter-spacing: 3px;
  padding: 1%;
  text-decoration: none;
}

#mainContainer {
  margin: 0 20%;
}
img {
  width: 20rem;
}
.btn_show {
  display: inline;
}
#price_tag {
  float: right;
}

#comment_time_ago {
  float: right;
  font-size: 80%;
  font-weight: normal;
  color: rgb(150, 140, 160);
}
#show_header {
  padding: 0.5rem 0;
}
#main_show_column {
  padding: 0;
}

#message_container {
  background-color: none;
  max-width: 45%;
  margin: auto;
  text-align: center;
  padding: 2%;
}

