.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 30%;
  padding: 3%;
}

label {
  align-items: flex-start;
  padding: 5% 0 0 0;
}
input {
  flex: 3;
}
.form .button {
  width: 5rem;
  flex: 1;
  padding: 1%;
  text-transform: uppercase;
  margin: 5% auto;
}
