.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 0 30%;
  padding: 2%;
}
.form .field {
  margin: auto;
  flex: 3;
  padding: 1%;
}
.form .button {
  width: 5rem;
  flex: 1;
  padding: 1%;
  text-transform: uppercase;
  margin: auto;
}
